@charset "utf-8";

/* *{  
    outline: 2px solid red;
} */

body{
    background-color: #FDFCFA;
}

#header{
    height: 650px;
    background-image: url(../image/2x/main@2x-100.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}

#header_p{
    height: 300px;
    width: 100%;
}

.header__inner{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px 0 70px;
    position: absolute;
    top: 65px;
    z-index: 9999;
    width: 100%;
    box-sizing: border-box;
}

.header__inner_p{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px 0 70px;
    position: absolute;
    top: 65px;
    z-index: 9999;
    width: 100%;
    box-sizing: border-box;
}

.header__inner nav{
    width: 100%;
    max-width: 570px;
}

.header__inner_p nav{
    width: 100%;
    max-width: 570px;
}

.header__inner nav ul{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.header__inner_p nav ul{
    display: flex;
    justify-content: space-between;
    gap: 9%;
}

.header__inner nav li{
    font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 16px;
    color: #2e1911;
    line-height: 1.5;
    text-align: center;
}

.header__inner_p nav li{
    font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 16px;
    color: #2e1911;
    line-height: 1.5;
    text-align: center;
}

.header__inner span{
    font-size: 11px;
    color: #6d5e58;
}

.header__inner_p span{
    font-size: 11px;
    color: #6d5e58;
}

.js-fade {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: opacity 1s,visibility 1s, transform 2s;
}

.inview {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.gnav a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #2e1911;
    text-decoration: none;
}

.gnav a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #2e1911;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    content: "";
}

.gnav a:hover:after {
    transform: translate(0, 0);
}

.works_title{
    font-size: 23px;
    line-height: 1.2;
    letter-spacing: 0.307em;    
    padding-left: 28px;
    color: #2e1911;
    position: relative;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;

}

.works_title::before{
    position: absolute;
    content: "";
    top: 0;
    width: 16px;
    left: 0;
    height: 100%;
    background-color: #2e1911;
    border-radius: 8px 8px 0 0;
}

.workspage_wrap{
    max-width: 1080px;
    margin: 0 auto;
    padding: 90px 10px 10px 10px;
    align-items: center;
    margin-bottom: 200px;
    position: relative;
}

.works_title span{
    font-size: 16px;
}

.workspage_menu{
    display: flex;
    text-align: right;
    position: absolute;
    right: 30px;
    top: 129px;
    gap: 20px;
    font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.workspage_title span{
    font-size: 23px;
    line-height: 1.956;
    text-align: center;
    color: #968c88;
}

.workspage_title{
    margin: 30px 0 40px 0;
    font-size: 33px;
    line-height: 1.3636;
    letter-spacing: 0.077em;
    text-align: center;
}

dl.workspage-summary {
    display: flex;
    flex-wrap: wrap;
    margin: 200px 0 200px 0;
    text-align: center;
}

dt.works_list {
    display: block;
    float: left;
    width: 130px;
    height: 42px;
    font-size: 15px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    border-radius: 3px 3px 3px 3px;
    align-items: center;
    border: #968c88 solid 1px;
    text-align: center;
    font-size: 14px;
    line-height: 42px;
    margin-right: 24px;
    margin-left: 30px;

}
dd.works_text {
    margin-bottom: 30px;
    vertical-align: baseline;
    line-height: 42px;
    font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }

dd.works_text_pc {
    margin-bottom: 30px;
    vertical-align: baseline;
    line-height: 42px;
    font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }
    

.works_img5{
    margin-top: 100px;
    text-align: center;
}

.works_img5 img{
    width: 70%;
}

.backnext{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 200px;
}

.backnext a{
    padding: 50px;
}


.backnext img{
    width: 109px;
    height: 24px;
}

#fotter{
    display: block;
    width: 100%;
    height: 268px;
    background-image: url(../image/2x/fotter_haikei@2x.png);
    background-size: cover;
    height: auto;
    position: relative;
    text-align: center;
}

.fotter_menu{
    margin: 0 auto;
    max-width: 564px;
    padding-top: 90px;
}

.fotter_menu ul{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.fotter_menu li{
    font-size: 16px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;   
}

.fotter_menu p{
    font-size: 10px;
    margin-top: 120px;
    text-align:center;
}

.sp__nav, .hamberger{
    display: none;
}

.workspage_menu_sp,
.works_text_sp{
    display: none;
}


@media screen and (max-width:768px) {

    #header_p,
    .works_text_pc{
        display: none;
    }
    
    .hamberger{
        display: block;
        cursor: pointer;
        height: 30px;
        width: 33px;
        z-index: 9998;
        right: 0;
    }
    .hamberger span{
        width: 33px;
        height: 3px;
        background-color: #2e1911;
        position: absolute;
        content: "";
        top: 30px;
        right: 30px;
        z-index: 9998;
        transition: 0.5s;
    }
    
    .hamberger span::before,
    .hamberger span::after{
        position: absolute;
        content:"";
        width: 33px;
        height: 3px;
        background-color: #2e1911;
        transition: 0.5s;
    }
    
    .hamberger span::before{
        top: -10px;
    }
    .hamberger span::after{
        top: 10px;
    }
    
    
    .hamberger.open span{
        background-color: transparent;
    }
    .hamberger.open span::before,
    .hamberger.open span::after{
        top: 0;
    }
    
    .hamberger.open span::before{
        transform: rotate(45deg);
    }
    .hamberger.open span::after{
        transform: rotate(-45deg);
    }
    
    #header_sp{
    height: 667px;
    background-image: url(../image/2x/main_sp@2x-100.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    }
    
    #header__sp{
        width: 100%;
        position: relative; 
        }
    
    .sp__nav{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(229,220,196,0.80);
    top: 0;
    z-index: 9997;
    }
    
    .sp__nav ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    
    .sp__nav li{
    padding: 16px;
    font-size: 16px;
    color: #2e1911;
    text-align: center;
    z-index: 9999;
    }

    .workspage_menu{
        display: none;
    }

    .workspage_menu_sp{
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
    }
    
    .workspage_menu_sp a{
        font-size: 13px;
        letter-spacing: 0.1em;
        font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }

    .workspage_title span{
        font-size: 14px;
        line-height: 1.956;
        text-align: center;
        color: #968c88;
    }
    
    .workspage_title{
        margin: 30px 0 40px 0;
        font-size: 21px;
        line-height: 1.3636;
        letter-spacing: 0.077em;
        text-align: center;
    }
    
    dl.workspage-summary {
        flex-flow: column;
        margin: 200px 0 200px 0;
        text-align: center;
    }
    
    dt.works_list {
        display: block;
        width: 100%;
        height: 42px;
        font-size: 15px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        border-radius: 3px 3px 3px 3px;
        align-items: center;
        border: #968c88 solid 1px;
        text-align: center;
        font-size: 14px;
        line-height: 42px;
        margin-right: 24px;
        margin-left: 0;
    
    }
    dd.works_text {
        margin-bottom: 30px;
        vertical-align: baseline;
        line-height: 42px;
        text-align: center;
        margin-left: 0;
        font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }

    dd.works_text_pc {
        margin-bottom: 30px;
        vertical-align: baseline;
        line-height: 42px;
        text-align: center;
        margin-left: 0;
        font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }

    dd.works_text_sp {
        display: block;
        margin-bottom: 30px;
        vertical-align: baseline;
        line-height: 36px;
        text-align: left;
        margin-left: 0;
        padding: 10px;
        font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }


    .works_img5_sp{
        display: block;
        width: 50%;
        margin: 0 auto;
        margin-top: 30px;
    }

    #fotter{
        display: block;
        width: 100%;
        background-image: url(../image/2x/footer_sp@2x.png);
        background-size: cover;
        position: relative;
        text-align: center;
    }
    
    
    .fotter_menu{
        margin: 0 auto;
        padding-top: 90px;
    }
    
    .fotter_menu ul{
        display: block;
        justify-content: space-between;
        gap: 5%;
    }
    
    .fotter_menu li{
        font-size: 16px;
        padding: 22px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;   
    }
    
    .fotter_menu p{
        font-size: 10px;
        margin-top: 120px;
        text-align:center;
    }      

    .backnext a{
        padding: 10px;
    }

}

